:root{
  --primario: hsl(9, 69%, 24%);
  --azul: hsl(216, 98%, 52%);
  --negro: hsl(0, 0%, 13%);
  --blanco: hsl(0, 0%, 100%);
  --secundario: hsl(120, 100%, 25%);
  --terciario: hsl(120, 81%, 48%);
  --gris: hsla(0, 0%, 79%, 0.45);
  --error: hsl(0, 100%, 50%);
  --estrella: hsl(78, 100%, 50%);


  --textobase: "Poppins", sans-serif;

  
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xxl:48px;
}


body{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    margin: 0;
  }


a{
    display: inline-block;
    text-decoration: none;
}



h2.upper{
  display: inline;
}

.button{
  padding: var(--m);
  border: var(--negro) 2px solid;
  border-radius: var(--s);
  background-color: var(--blanco);
  position: relative;
  transition: 1s;
}

.button a{
  color: var(--negro);
}


a span.number{
  color: var(--blanco);
  position: absolute;
  top: -24px;
  left: 48px;
  background-color: var(--negro);
  padding: var(--s) var(--m);
  border-radius: 80px;
}

div.logout{
  transition: 1s;
}

/*hover específico para botones basket y logout, recuperar en caso de querer especificar
div .basket:hover{
  background-color: var(--negro);
  color: var(--blanco);
}

div .logout:hover{
  color: var(--blanco);
  background-color: var(--negro);
}
*/

/*Hacer que el span dentro de a haga algo cuando pase el ratón*/
.banner a:hover span{
  opacity: 1;
}

/*Para solucionar la adaptación del alto de las imágenes al achicar la ventana*/
/*backgroun-position*/

/*overflow hidden para los banners*/


.navbar li span{
  color: #9b50d8;
}

  h1{
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    color: var(--blanco);
    font-size: 3.052rem;
  }
  h2{
    font-family: "Poppins", sans-serif;
    font-size: 2.441rem;
    color: var(--blanco)
  }
  h3{
    font-family: "Poppins", sans-serif;
    color: var(--negro);
    font-size: 1.953rem;
  }
  h4{
    font-family: "Poppins", sans-serif;
    color: #d85081;
    font-size: 1.563rem;
  }
  h5{
    font-family: "Poppins", sans-serif;
    color: #d85081;
    font-size: 1.25rem;
  }
  h6, small{
    font-family: "Poppins", sans-serif;
    color: #d85081;
    font-size: 0.8rem
  }

.input-grp{
  display: flex;
  align-items:center;
  box-sizing: border-box;
  justify-content:space-around;
  }

input.searchbar{
  padding: var(--l);
  border: var(--negro) 2px solid;
  border-radius: var(--s);
  font-weight: bold;
  text-align:left;
  flex-grow: 2;
  gap: var(--s);
}

.container{
    max-width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
  display: flex;
  align-items:center;
  justify-content:space-around;
  background-image: url(https://www.kh13.com/uploads/monthly_2018_10/65ec68b8c6284deebaa347680f7c0b06.jpg.ab151c5ffb6dfa48fd7f37c670a21cbc.jpg);
  height: 14vh;
}

/*Para que el navbar no se vuelva negro como todos los demás botones*/
.navbar:hover .button{
  background-color: var(--blanco);
}

.navbar li{
  display: inline;
  padding: var(--l) var(--l);
  transition: 1s;
}

.navbar li:hover{
  border-radius: var(--m);
  border-bottom: var(--negro) 2px solid;
  border-top: var(--negro) 2px solid;
}

.navbar li span{
  color: var(--negro);
}

.buttons{
  display: flex;
  gap:var(--s)
}

div .btn-card{
  display: flex;
  justify-content: center;
 padding-bottom: var(--m);
}

div .add-basket{
  border: var(--azul) solid;
  background-color: var(--blanco);
}

div .add-basket a{
  color: var(--azul);
}

.button:hover{
  background-color: var(--negro);
}

.add-basket:hover{
  background-color: var(--azul);
}

.button:hover a{
  color: var(--blanco);
}



.upper{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  justify-content:space-around;
  height: 10vh;
}

div.upper{
  background-color: var(--negro);
}


.header-inner{
  display: flex;
  align-items:center;
  background-position: center;
  justify-content:space-around;
  gap: var(--m);
  background-color: var(--gris);
}

.header-inner .logos, .header-inner .buttons{
  flex-grow: 1;
}

.header-inner .input-grp{
  flex-grow: 2;
}

.tarjetas{
  display: flex;
  gap: var(--xxl);
  align-items:center;
  justify-content:space-between;
  background-image: url(https://www.kh13.com/uploads/monthly_2018_10/large.gallery_45323_1604_775082.jpg.9090ccc24380e2d284e0efc9a75e57ab.jpg);
}


.card{
  background-color: var(--blanco);
  border-radius: var(--m);
  flex-direction: column;
  margin-left: var(--m);
  margin-bottom: var(--m);
  margin-right: var(--l);
}

.card figure{
  overflow: hidden;
  max-width: 256px;
  height: 25%;
  transition: 0.8s;
}

.card figure img{
  max-width: 100%;
}

.card figure:hover{
  transform: scale(1.5)
}

.card-holder{
  width: 25%;
}

div .price-grp{
  margin-bottom: var(--m);
}


div .card-content{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

div.card span{
  color: var(--negro);
}

div .price-grp span.filled{
  color: var(--azul);
}

.inner{
  display: flex;
  justify-content: left;
  background-image: url(https://www.kh13.com/uploads/monthly_2018_10/65ec68b8c6284deebaa347680f7c0b06.jpg.ab151c5ffb6dfa48fd7f37c670a21cbc.jpg);
}